body{
	font-family: 'Montserrat', sans-serif;	
}

h1,
h2,
h3,
h4{
	font-family: 'DM Serif Display', serif;
	color: #8093f1;
	font-weight: bold;
}

h1{
	font-size: 3em;
}

h2{
	font-size: 2em;
}

h3{
	font-size: 1.5em;
}

p{
	color: #000000;
}

a{
	text-decoration: none;
	color: #000000;
}

input{
	border: none;
	background-color: #A3ADF5;
	padding: 0.5em;
}

input[type=submit]{
	border: none;
	font-weight: 700;
	color: #8093F1;
	transition: all .2s ease;
	border: 3px solid #8093F1;
	background-color : transparent;
}

input[type=submit]:hover{
	color: #FFF;
    background-color: #8093F1;
}

textarea{
	border: none;
	background-color: #A3ADF5;
}

select{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	border: solid .1em #FFF;
	background-color: #B388EB;
	color: #FFF;
}

::placeholder{
	color: #FFF;
}

#index-hero{
	  background-image: url("../img/hero-bg-image.png");
	  min-height: 70vh;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  position: relative;	
}


#toggler-icon {
	color: #FFF;
}


#button-header{
	background-color: #8093f1;
	border: none;
	text-transform: uppercase;	
}

#button-purple{
	background-color: #8093f1;
	border: none;
}

.button-text div a{
	font-family: 'DM Serif Display', serif;
	font-size: 1.2em;
}



	/*=============== ANIMATIONS ===============*/

.text-focus-in{
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}			


@-webkit-keyframes text-focus-in {
  0%{
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100%{
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.button_slide {
	width: 100%;
  color: #FFF;
  display: inline-block;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #5A72ED;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_down:hover {
  box-shadow: inset 0 100px 0 0 #5A72ED;
}

.zoomimg article img {
	width: 300px;
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoomimg article:hover img {
	width: 350px;
}



	/*=============== INDEX ===============*/	

#menu a{
	color: #FFF;
	font-weight: 700;
	font-size: 1.2em;	
}

#index-about{
	background-color: #8093f1;
	grid-area: about;
	background-image: url(../img/about-image.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
}	

#newsletter{
		grid-area: news;
		background-color: #EDEFFD;
}


	/*=============== MEDIA QUERIES INDEX ===============*/	

@media (min-width: 600px){

	#menu a{
		font-size: 1.5em;	
	}

	#productos-index a{
		font-size: 1.2em;
		
	}
}

@media (min-width: 768px){
	#index-hero{
		  min-height: 50vh;

	}	
}

@media (min-width: 1024px){

	h2{
		font-size: 1.7em;
	}

	#menu a{
		font-size: 1em;	
	}	

}




	/*=============== NAV VIEWS ===============*/

#views-nav{
	background-color: #8093f1;
}


	/*=============== VIEWS ASSETS ===============*/

#formularios form div input{
	border: none;
	background-color: #A3ADF5;
	padding: 0.5em;
	font-size: 1em;
}

	/*=============== TIENDA ===============*/

#divider-border{
	border-bottom: .1em solid #A3ADF5;
}

	/*=============== MEDIA QUERIES TIENDA ===============*/

@media (min-width: 768px){

	#divider-border{
		border-right: .1em solid #A3ADF5;
		border-bottom: none;
	}

	h2{
		font-size: 2em;
	}

}	

