<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Axolote Store - Stationery & Life Style</title>
	<link rel="shortcut icon" href="../img/favicon.png">
	<!--ends favicon-->	
	<link rel="stylesheet" href="../style/style.css">
	<!--ends style-->	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
	<!--ends google fonts-->	

</head>
<body>
	<div id="faq-wrapper">
		<header id="views-nav-wrapper">
			<nav id="nav-views">
			<a href="../index.html">
				<img src="../img/brand-1.svg" alt="Logotipo de Axolote Store Stationery & Life Style" id="nav-logo">
			</a>
			<!--ends brand--> 
			<section>
			<ul id="menu-views">
			<li><a href="tienda.html">Tienda</a></li>
			<li><a href="about.html">Nosotros</a></li>
			<li><a href="faq.html">FAQ</a></li>
			<li><a href="contact.html">Contacto<a>
			</li>
			<li><a href="login.html">Log In</a></li>
			</ul>
			</section>
			</nav>
			<!--ends nav-->
		</header>	
		<!--Ends nav-->	

		<section id="search">
			<div id="search-bar">
				<input type="text" placeholder="Buscar...">
				<button type="submit"></button>
			</div>

			<ul id="faqs-menu">
				<li><a href="#">¿Cómo realizar una compra?</a></li>
				<li><a href="#">¿Cómo calculo el costo de envío?</a></li>
				<li><a href="#">Tiempos de envío</a></li>
				<li><a href="#">Envíos internacionales</a></li>
				<li><a href="#">Métodos de pago</a></li>
			</ul>
		</section>
		<!--Ends FAQS menu-->	

		<main id="faqs">
			<div id="faqs-title">
				<h1>preguntas frecuentes</h1>
				<p>Lorem ipsum dolor sit amet.</p>
			</div>
			<div id="faqs-left">
				<article>
					<h2>¡Integer dignissim sit amet lectus nec posuere?</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
				</article>
				<article>
					<h2>¡Integer dignissim sit amet lectus nec posuere?</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
				</article>
				<article>
					<h2>¡Integer dignissim sit amet lectus nec posuere?</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
				</article>						
			</div>
			<div id="faqs-right">
				<article>
					<h2>¡Integer dignissim sit amet lectus nec posuere?</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
				</article>
				<article>
					<h2>¡Integer dignissim sit amet lectus nec posuere?</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
				</article>
				<article>
					<h2>¡Integer dignissim sit amet lectus nec posuere?</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
				</article>				
			</div>		
		</main>

		<footer id="footer">
			<section>
				<a href="../index.html"><img src="../img/brand-2.png" alt="Isotipo de Axolote Store, ilustración tierna de axolote" id="brand-2"></a>
			</section>
			<!--Ends brand2-->
	       <section id="footer-menu">
	       		<div>
		       		<a href="tienda.html"><h2>Tienda</h2></a>
			       		<ul>
			       			<li><a href="#">Journaling</a></li>
			       			<li><a href="#">Life Style</a></li>
			       			<li><a href="#">Moda</a></li>
			       		</ul>
	       		</div>
	       		<div>
			       	 <h2>Síguenos</h2>
			       		<ul>
			       			<li><a href="#">Instagram</a></li>
			       			<li><a href="#">TikTok</a></li>
			       		</ul>
	       		</div>
	       </section>
		</footer>
		<!--Footer ends-->
	</div>
</body>
</html>