<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Axolote Store - Stationery & Life Style</title>
	<link rel="shortcut icon" href="../img/favicon.png">
	<!--ends favicon-->	
	<link rel="stylesheet" href="../style/style.css">
	<!--ends style-->	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
	<!--ends google fonts-->	
</head>
<body>
	<div id="store-wrapper">
		<header id="views-nav-wrapper">
			<nav id="nav-views">
			<a href="../index.html">
				<img src="../img/brand-1.svg" alt="Logotipo de Axolote Store Stationery & Life Style" id="nav-logo">
			</a>
			<!--ends brand--> 
			<section>
			<ul id="menu-views">
			<li><a href="tienda.html">Tienda</a></li>
			<li><a href="about.html">Nosotros</a></li>
			<li><a href="faq.html">FAQ</a></li>
			<li><a href="contact.html">Contacto<a>
			</li>
			<li><a href="login.html">Log In</a></li>
			</ul>
			</section>
			</nav>
			<!--ends nav-->
		</header>	
		<!--Ends nav-->

		<section id="banner-tienda">
			<div class="banner-border">
				<div class="banner-color-bg">
					<div class="text-focus-in">
						<h1>Tienda</h1>
						<p>Queremos ser parte de tu vida</p>
					</div>	
				</div>
			</div>
		</section>
		<!--Ends banner-->

		<main id="products-gallery">
			<div class="zoomimg">
				<article>
					<img src="../img/product-1.png" alt="">
					<h4>Lorem Ipsum</h4>
					<p>4.5 x 9 cm</p>
					<p>MXN 649.00</p>
				</article>
			</div>	
			<div class="zoomimg">
				<article>
					<img src="../img/product-2.png" alt="">
					<h4>Lorem Ipsum</h4>
					<p>4.5 x 9 cm</p>
					<p>MXN 649.00</p>
				</article>
			</div>							
			<div class="zoomimg">
				<article>
					<img src="../img/product-3.png" alt="">
					<h4>Lorem Ipsum</h4>
					<p>4.5 x 9 cm</p>
					<p>MXN 649.00</p>
				</article>
			</div>
			<div class="zoomimg">
				<article>
					<img src="../img/product-4.png" alt="">
					<h4>Lorem Ipsum</h4>
					<p>4.5 x 9 cm</p>
					<p>MXN 649.00</p>
				</article>
			</div>
			<div class="zoomimg">
				<article>
					<img src="../img/product-5.png" alt="">
					<h4>Lorem Ipsum</h4>
					<p>4.5 x 9 cm</p>
					<p>MXN 649.00</p>
				</article>
			</div>	
			<div class="zoomimg" >
				<article>
					<img src="../img/product-6.png" alt="">
					<h4>Lorem Ipsum</h4>
					<p>4.5 x 9 cm</p>
					<p>MXN 649.00</p>
				</article>
			</div>													
		</main>
		<!--Ends products gallery-->			

		<section id="categories">
			<p>
				<a href="#">Journaling</a> 
				| 
				<a href="#">Lifestyle</a> 
				| 
				<a href="#">Moda</a>
			</p>
		</section>
		<!--Ends categories-->

		<section id="filtro">
				<h4>Ordenar</h4>
				<select name="ordenar">
					<option value="">Precio Ascendente</option>
					<option value="">Precio Descendente</option>
					<option value="">Color</option>
					<option value="">Talla</option>
					<option value="">Lo más nuevo</option>
				</select>
			</div>
		</section>
		<!--Ends filter-->	

		<footer id="footer">
			<section>
				<a href="../index.html"><img src="../img/brand-2.png" alt="Isotipo de Axolote Store, ilustración tierna de axolote" id="brand-2"></a>
			</section>
			<!--Ends brand2-->
	       <section id="footer-menu">
	       		<div>
		       		<a href="tienda.html"><h2>Tienda</h2></a>
			       		<ul>
			       			<li><a href="#">Journaling</a></li>
			       			<li><a href="#">Life Style</a></li>
			       			<li><a href="#">Moda</a></li>
			       		</ul>
	       		</div>
	       		<div>
			       	 <h2>Síguenos</h2>
			       		<ul>
			       			<li><a href="#">Instagram</a></li>
			       			<li><a href="#">TikTok</a></li>
			       		</ul>
	       		</div>
	       </section>
		</footer>
		<!--Footer ends-->
	</div>	
</body>
</html>